<template>
    <h1>Contact List</h1>

    <p if.bind="!contacts"><em>Loading...</em></p>
    
    <a route-href="route: contactdetail">Create New Contact</a>

    <table class="table" if.bind="contacts">
        <thead>
        <tr>
            <th>IDs</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="contact of contacts" class="${contact.id === selectedContactId ? 'active' : ''" }>
            <td>${contact.id}</td>
            <td>${contact.name}</td>
            <td><a route-href="route: contactdetail; params.bind: {id:contact.id}" click.delegate="select($contact)">Details</a></td>
        </tr>
        </tbody>
    </table>
    <hr />
</template>