<h1>Contact Details</h1>
<hr />
<div *ngIf="hasContactId">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{contact.id}}</dd>
        <dt>Name</dt>
        <dd>{{contact.name}}</dd>
        <dt>Address</dt>
        <dd>{{contact.getAddress()}}</dd>
        <dt>Phone</dt>
        <dd>{{contact.phone}}</dd>
        <dt>Email</dt>
        <dd>{{contact.email}}</dd>
    </dl>
</div>
<div *ngIf="!hasContactId">
    <div>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="name" class="form-control" [(ngModel)]="contact.name" name="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="address" class="form-control" [(ngModel)]="contact.address" name="address" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="city" class="form-control" [(ngModel)]="contact.city" name="city" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="state" class="form-control" [(ngModel)]="contact.state" name="state" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="zip" class="form-control" [(ngModel)]="contact.postalCode" name="postalCode" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="phone" class="form-control" [(ngModel)]="contact.phone" name="phone" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" placeholder="email" class="form-control" [(ngModel)]="contact.email" name="email" />
                </div>
            </div>
        </form>
    </div>
    <div class="text-center">
        <button class="btn btn-success btn-lg" (click)="save()">Save</button>
        <button class="btn btn-danger btn-lg" (click)="reset()">Reset</button>
    </div>
</div>
<a routerLink="/contact-list">Back to List</a>
<hr />